/*Organisms: In Atomic CSS, "Organisms" refer to larger, 
scomplex UI components that are composed of groups of Molecules.*/

/*Header img*/
.hero {
  background-image: url(/assets/Rectangle\ 1.jpg);
  height: 650px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

/*Services*/
.services {
  display: flex;
  margin-top: 500px;
  margin-left: 119px;
  gap: 41px;
}

.service {
  width: 386px;
}

/*Faclilities*/
.facilities {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: 119px;
}

.facilities__icon {
  margin-bottom: 64px;
}

.facilities__headline {
  display: block;
  width: 100%;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 204px;
  margin-top: 253px;
  font-size: 2.25rem;
}

.facilities__option {
  display: flex;
  flex-direction: column;
  width: calc(25% - 20px);
  margin-bottom: 40px;
  align-items: flex-start;
}

/*Sites*/
.sites {
  display: flex;
  width: 1240px;
  margin-top: 263px;
}

.places__img {
  width: 230px;
  height: 418px;
}

.article-img {
  display: flex;
}

.places {
  display: flex;
  gap: 49px;
}

/*Our Advantages*/
.advantages {
  display: flex;
  margin-top: 400px;
}

.advantages__option {
  width: 386px;
  margin: auto;
}

.advantages__icon {
  margin-bottom: 64px;
}

.advantages__option-text {
  margin-top: 24px;
}
/*footer*/
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  background-color: #f7f7f7;
  margin-top: 251px;
}

.footerflex {
  display: flex;
  gap: 125px;
}
ul {
  list-style: none;
}

ul li {
  margin-top: 24px;
  margin-bottom: 24px;
}

/*policy*/
.policy__list {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  padding-left: 950px;
}
